body
{
    background-color: black;
    max-width: 80%;
    max-height: 1732px;
    
}
#header
{
    color: white;
    font-size: 5rem;
    margin-left: 70px;
    
}
#content
{
    color: greenyellow;
    
}
.tile
{
    background-color: transparent;
    float: left;
    text-align: center;
    margin: 0px;
    width: 210px;
    height: 70px;
    color: yellow;
    margin-left: auto;
    margin-right: 230px;
    
}
.tile1
{
    background-color: transparent;
    float: left;
    text-align: center;
    margin: 0px;
    width: 210px;
    height: 70px;
    color: yellow;
    margin-left: 370px;
    margin-right: 10px;
    
}
#button
{
    background-color: transparent;
    border-color: transparent;
}
#button2
{
    background-color: transparent;
    border-color: transparent;
}
.another
{
    background-color: transparent;
    float: left;
    text-align: center;
    margin: 0px;
    width: 210px;
    height: 70px;
    color: red;
    margin-left: 490px;
    margin-right: auto; 
    text-decoration: none;
}
#zaproszenia
{
    background-color: white;
    float: left;
    text-align: center;
    margin: 0px;
    width: 210px;
    height: 70px;
    color: lightgreen;
    margin-left: auto;
    margin-right: 230px;
}

.suma
{
    background-color: transparent;
    float: right;
    text-align: center;
    margin: 0px;
    width: 170px;
    height: 100px;
    color: red;
    margin-left: auto;
    margin-right: 60px;
}

#refresh
{
    background-color: transparent;
    height: 120px;
    width: 250;
    margin-left: 120px;
    margin-right: 120px;
}

#normalne
{
    background-color:transparent;
}
    
#ulgowe
{
    background-color: transparent;
}
